@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("https://images.pexels.com/photos/790916/pexels-photo-790916.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: bottom center;
  font-size: 4.5vmin;
  margin: 0;
  padding: 0;
  /* background: #444; */
}

.fireworksContainer {
  position: fixed;
  width: 100%;
  height: 100%;
}

.fireworksContainer:nth-of-type(2) {
  z-index: 9;
}

.countdown {
  display: flex;
  gap: 1rem;
  font-family: "Londrina Solid", cursive;
  color: rgb(255, 255, 255);
  filter: drop-shadow(-0.05em -0.05em 0.05em rgba(128, 0, 128, 1))
    drop-shadow(0.05em 0.05em 0.05em rgba(0, 0, 0, 1))
    drop-shadow(0 0 0.5em rgba(255, 192, 203, 0.5));
}

.countdown div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.countdown div .value {
  font-size: 2.5em;
  font-weight: 400;
  /* text-shadow: 0 0 0.05em red, 0 0 0.1em black; */
}

.countdown div .label {
  font-size: 0.8em;
  font-weight: 300;
  background: rgba(255, 192, 203, 1);
  color: rgb(0, 0, 0);
}

.countdown div .yeardigit {
  font-size: 8em;
  line-height: 0.9em;
  font-weight: 900;
  /* text-shadow: 0 0 0.02em red, 0 0 0.05em black; */
}

@keyframes firework {
  0% {
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }

  50% {
    width: 0.5vmin;
    opacity: 1;
  }

  100% {
    width: 45vmin;
    opacity: 0;
  }
}

.firework,
.firework::before,
.firework::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */ radial-gradient(
        circle,
        #ff0 0.2vmin,
        #0000 0
      )
      50% 00%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%;
  background-size: 0.5vmin 0.5vmin;
  background-repeat: no-repeat;
  animation: firework 2s infinite;
  z-index: 5;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}
